In [19]:
a, b, c = 25,35,15
if (b > a,  ) :
  if (b >c) :
    print ("b is greater number")
else:
  print ("b is not greater number")

b is greater number

In [20]:
colurs = ['blue', 'red', 'pink', 'black' ]
print (type(colurs))
for i in colurs:
  print (i)

<class 'list'>
blue
red
pink
black

In [21]:
friends = ('Arati', 'apeksha', 'shristi', 'vidya', 'rohini', 'Amrita' )
print (type(friends))
for i in friends:
  print (i)

<class 'tuple'>
Arati
apeksha
shristi
vidya
rohini
Amrita

In [22]:
numbers = {1,2,3,4,5,6,7,8,9,10}
for i in numbers :
  print (i)

1
2
3
4
5
6
7
8
9
10

In [23]:
name = "KLE BK BCA College in Chikodi"
rev = ""
for i in  name :
  rev = i + rev
print (rev)

idokihC ni egelloC ACB KB ELK

In [27]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i  in range ( 1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [42]:
sum = 0
for i in range (1,11):
 sum +=i
print ("sum of n natural number is", sum)

sum of n natural number is 55

In [50]:
sum = 4
for i in range (1, 11):

  print ("multiple of 4" , sum *i)

multiple of 4 4
multiple of 4 8
multiple of 4 12
multiple of 4 16
multiple of 4 20
multiple of 4 24
multiple of 4 28
multiple of 4 32
multiple of 4 36
multiple of 4 40

In [57]:
num = 1
for i in range (2, 101,2):
  print(i, end=" " )

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [62]:
fact = 1
for i in range (1,6):
  fact = fact * i
print ("factorial number is:", fact)

factorial number is: 120

In [73]:
 # fiboncacci series / number for loop
 # 0 1 1 2 3 5 8 13 21 34 55 89 144
 a , b = 0, 1
for i in range( 1,14):
  print(a , end= " ")
  a, b = b, a+b

0 1 1 2 3 5 8 13 21 34 55 89 144